@media only screen and (min-device-width : 320px) and (max-device-width : 600px) { 
search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

}

#arriba{
    margin-top: -185px;
}

.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}

.dynamicTile .col-sm-6.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-4{
    padding:5px;
}

#caja_tramites{
    
    min-height: 180px;
}

.cajitas{
    padding: 8px;   
}

.caja1{
    min-height: 464px;
}

@-moz-document url-prefix() {
.caja1 {
min-height: 177px;
}
}



#caja2{
    background: ;
    min-height: 43px;
}

#caja3{
    background: ;
    min-height: 177px;
}

#caja4{
    min-height: 177px;
}

#caja5{
    background: ;
    min-height: 177px;
}

#caja6{
    background: ;
    min-height: 177px;
}

#caja7{
    background: ;
    min-height: 177px;
}

#caja8{
    background: ;
    min-height: 177px;
}

#caja9{
    background: ;
    min-height: 177px;
}

#caja10{
    background: ;
    min-height: 177px;
}

#caja11{
    background: ;
    min-height: 177px;
}

#caja12{
    background: ;
    min-height: 177px;
}

#caja13{
    background: ;
    min-height: 177px;
}

#caja14{
    background-image: url("");
    min-height: 177px;
}

@-moz-document url-prefix() {
    #caja14{
    
    min-height: 70px;
}
    }

#caja15{
    background: ;
    min-height: 177px;
}

#caja16{
    background: ;
    min-height: 177px;
}

#caja17{
    background: ;
    min-height: 177px;
}

#caja18{
    background: ;
    min-height: 177px;
}

#caja19{
    background: ;
    min-height: 177px;
}

#caja20{
    background: ;
    min-height: 177px;
}


.tilecaption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Segoe UI;
    font-weight: lighter;
}



#search {
    z-index: 999;
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
 }   

 #margentop {
    padding-top: 9px;
 }

 .busqueda {
    float: center;
    text-align: center;
    padding-left: px;
 }

  .busqueda2 {
    float: center;
    
     }

     .contenedor{
        padding: 50px;
     }

     #flotante{
        float: ;
     }


.cuadro_intro_hover{
        padding: 0px;
        position: relative;
        overflow: hidden;
        height: 200px;
    }
    .cuadro_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform:translateY(-150px);
        -moz-transform:translateY(-150px);
        -ms-transform:translateY(-150px);
        -o-transform:translateY(-150px);
    }
    .cuadro_intro_hover img{
        z-index: 4;
    }
    .cuadro_intro_hover .caption{
        position: absolute;
        top:150px;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        width: 100%;
    }
    .cuadro_intro_hover .blur{
        background-color: rgba(0,0,0,0.7);
        height: 300px;
        z-index: 5;
        position: absolute;
        width: 100%;
    }
    .cuadro_intro_hover .caption-text{
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 300px;
        text-align: center;
        top:-20px;
        width: 100%;
    }


    .formulario{
        padding: 10px;
    }

    .pie{
        padding-left: ;
    }

    #contenedor {
        background-color: #fff;
        margin-bottom: 0px;
    }

    .h0{
        font-size: 40px;
        color: #333;
        text-align: ;
    }

    ---- estilos tramites ---

   #porfolio_{
    padding: 15px;
    
   }

 .titulo_centrado_tramites{
    padding: 50px;
    }



    ---- fin estilos tramites ---


    

/* So there isn't a space btwn navbar and jumbotron */
.cabeza {
  color: #fff;
  float: right;
}
.jumbotron{
    padding:3px;
    margin-bottom:0px;
    color:inherit;
    background-color:#35447A;
    background-image: url("../images/encabezado.png");
}

.jumbotron h1,.jumbotron .h1{color:inherit}
.jumbotron p{margin-bottom:15px;font-size:21px;font-weight:200}
.jumbotron>hr{border-top-color:#d5d5d5}
.container .jumbotron{border-radius:0}
.jumbotron .container{max-width:100%}@media screen and (min-width:768px){.jumbotron{}
.container .jumbotron{padding-left:60px;padding-right:60px}
.jumbotron h1,.jumbotron .h1{font-size:63px}}
/* Utility class I always use. Bascially a semantically correct <br> */
.spacer {
  clear: both;
  height: 20px;
}



    <!-- fin de navbar -->

.cabeza0 {
    
}
    

    
.cabeza4 {
    width: ;
    height: ;
    padding: 5px;
    padding-top: 16px;
}

.clima {
    min-height: 40px;
    width: ;
    border-color: #006FB6;
    background-color: rgba(255,0,0,0.4);
    padding: 5px;
    margin-left: ;
}

.fecha {
    background-color: rgba(53,68,122,0.4);
    text-align: center;
}

.redes-sociales {
    font-family: FontAwesome;
    text-align: left;
    width: ;
}

.descripcion-clima {
    font-size: 11px;
    color: #fff;
    text-align: center;
}

.dibujo-clima {
    width: auto;
    text-align: center;
}

.temperatura {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.datos-clima {
    font-size: 11px;
    font-weight:;
    color: #fff;
    text-align: left;
}


.ver-pronostico {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.ciudad {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}