<div class="row">
	<div class="tile tile-clouds col-md-12 col-xs-12" >
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
   	<hr>
   	<footer>
		<div class="pie">
			<div class="col-lg-1"></div>

			<div class="col-lg-2">
				<h3>Gestión:</h3>
				<ul>
					<li><a href="">Policía</a></li>
					<li><a href="">EC SAPEM</a></li>
					<li><a href="">Aguas del Valle</a></li>
					<li><a href="">Catastro</a></li>
					<li><a href="">Rentas</a></li>
					<li><a href="">Colegios Profesionales</a></li>
					<li><a href="">IES</a></li>
					<li><a href="">ONG</a></li>
					<li><a href="">OSEP</a></li>
					<li><a href="">IES</a></li>
					<li><a href="">IPV</a></li>
					<li><a href="">Tribunal de Cuentas</a></li>
					<li><a href="">EnRE</a></li>
				</ul>

			</div>

			<div class="col-lg-3">
				<h3>Accesos Directos:</h3>
				<ul>
					<li><a href="">Secretaría General de Gobernación</a></li>
					<li><a href="">Secretaría Privada de la Gobernación</a></li>
					<li><a href="">Secretaría de Estado del Ambiente y
							Desarrollo Sustentable</a></li>
					<li><a href="">Secretaría de Turismo</a></li>
					<li><a href="">Secretaría de Coordinación</a></li>
					<li><a href="">Secretaría de Mineria</a></li>
					<li><a href="">Secretaría de Gabinete</a></li>
					<li><a href="">Secretaría de Vivienda y Desarrollo Urbano</a></li>
					<li><a href="">Secretaría de Cultura</a></li>
					<li><a href="">Secretaría de Deportes y Recreación</a></li>
					<li><a href="">Subsecretaría de Medios</a></li>
				</ul>
			</div>
			
			<div class="col-lg-6 col-xs-12">
					<h3>Contacto:</h3>
					<p>Sarmiento 613 - CP 4700 Catamarca</p>
					<p>
						<a href="" title="Contacto!"><i class="fa fa-envelope"></i>
							E-mail</a>
					</p>
					<h3>Seguinos en:</h3>

					<div class="col-md-4 col-xs-4"></div>

					<div class=" col-md-4 col-xs-4">
						<div class="col-md-4 col-xs-4">
							<a href="https://www.facebook.com/GobiernodeCatamarca"><img src="{{STATIC_URL}}images/facebook.png"></a>
						</div>
						<div class=" col-md-4 col-xs-4">
							<a href="https://www.twitter.com/CatamarcaGob"><img src="{{STATIC_URL}}images/twitter.png"></a>
						</div>
						<div class="col-md-4 col-xs-4">
							<a href="https://www.youtube.com/user/GobiernodeCatamarca"><img src="{{STATIC_URL}}images/youtube.png"></a>
						</div>
					</div>

					<div class="col-md-4 col-xs-4"></div>
					<div>
						<img class="row"
							src="{{STATIC_URL}}images/logo_catamarca.jpg">
					</div>
				</div>


			<br/>
			<div class="col-lg-12 col-md-12">
			<br />
			<hr>
			<p>
				Copyright © catamarca.gov.ar | <a href="">Políticas de
					privacidad</a> | <a href="">Términos de uso</a>
			</p>
			</div>
			</div>
			</footer>
		</div>
</div>