<!-- Begin Modal Add Lamparas -->
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo Punto de Luz</h4>
            </div>
            <div class="modal-body">
                <form id='form-lampara'>
                    <input type="hidden" id='relevamiento_columna' name='columna' value="{{=col['id']}}">
                    <div class="form-group">
                        <label for="lampara_tipo" class="control-label">Tipo</label>
                        <select class="form-control" class="form-control" id="lampara_tipo" name='tipo'>
                            {{=fn_select('', 'tp_lampara')}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lampara_estado" class="control-label">Estado</label>
                        <select class="form-control" id="lampara_estado" name='estado'>
                            {{=fn_select('', 'estado')}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lampara_modelo_artefacto" class="control-label">Modelo Artefacto</label>
                        <select class="form-control" id="lampara_modelo_artefacto" name='modelo_artefacto'>
                            {{=fn_select('', 'modelo')}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lampara_proteccion" class="control-label">Necesita recambio tulipa?</label>
                        <input type="checkbox" class="form-control" id="lampara_proteccion" name='recambio_tulipa'>
                    </div>
                    <div class="form-group">
                        <label for="lampara_limpieza" class="control-label">Necesita limpieza tulipa?</label>
                        <input type="checkbox" class="form-control" id="lampara_limpieza" name='limpieza_tulipa'>
                    </div>
                    <div class='form-group'>
                        <button type='submit' class='btn btn-primary btn-sm'> Guardar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
