<div class="jumbotron">
	<div class="row">
		<div class="col-md-3 col-xs-12"></div>
		<div class="col-md-3 col-xs-12"></div>
		<!-- Tiempo -->
		<div class="clima col-md-3 col-xs-12">
			<div class="clima">
			
				<div id="weather">
				<!-- <i class="icon-'+weather.code+'"  style="color: #fff"></i> -->
							<script>$(document).ready(function() {
                    $.simpleWeather({
                        location: 'San Fdo del Valle de Catamarca. Catamarca',
                        woeid: '',
                        unit: 'c',
                        
                        success: function(weather) {
                            html = '<div class="col-lg-12" style="color: #fff; text-align: center;"><h4>San Fdo. del Valle de Catamarca</h4></div>';
                            html += '<div class="col-lg-6 col-xs-12" style="color: #fff; text-align:center;"><i class="icon-'+weather.code+'" style="color: #fff"></i><p align="center">'+weather.temp+'&deg;'+weather.units.temp+'</p></div>';
                            html += '<p class="col-lg-6" style="color: #fff; text-align:left;">'+weather.currently+'</p>';
  
                            $("#weather").html(html);
                        },
                        error: function(error) {
                        $("#weather").html('<p>'+error+'</p>');
                        }
                    });
                    });</script>
					<!--dibujo-clima-->
					
				</div>
				
				<!--col-md-3-->
				
				<!-- ciudad -->

			</div>
		</div>
		<!-- End Tiempo -->
		<!-- Redes Sociales -->
		<div class="cabeza4 col-md-2 col-xs-12">

			<div class="col-md-5 col-xs-5"></div>
			<div class="redes-sociales col-md-7 col-xs-7">

				<div class="col-md-3 col-xs-2">
					<a href="https://www.facebook.com/GobiernodeCatamarca"><img
						src="{{STATIC_URL}}images/facebook.png"></a>
				</div>
				<div class="col-md-3 col-xs-2">
					<a href="https://www.twitter.com/CatamarcaGob"><img
						src="{{STATIC_URL}}images/twitter.png"></a>
				</div>
				<div class="col-md-3 col-xs-2">
					<a href="https://www.youtube.com/user/GobiernodeCatamarca"><img
						src="{{STATIC_URL}}images/youtube.png"></a>
				</div>
				<div class="col-md-3 col-xs-2">
					<a href="#"><img
						src="{{STATIC_URL}}images/telefonos_catamarca.png"></a>
				</div>
			</div>


			<div class="fecha col-md-12 col-xs-12">        
				<h4>
					<script languaje="JavaScript">
						var mydate=new Date()
						var year=mydate.getYear()
						if (year < 1000)
							year+=1900
						var day=mydate.getDay()
						var month=mydate.getMonth()
						var daym=mydate.getDate()
						if (daym<10)
							daym="0"+daym
						var dayarray=new Array("Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado")
						var montharray=new Array("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")
						document.write("<small><font color='#fff' face='Arial'>"+dayarray[day]+" "+daym+" de "+montharray[month]+" de "+year+"</font></small>")
					</script>
				</h4>
			</div>
			
		</div>
		<!-- End Redes Sociales -->
	</div>
</div>
<!-- Navbar Fijo -->
<nav class="navbar navbar-default navbar" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-ex1-collapse">
			<a href="/"> 
				<span class="sr-only">Catamarca - Crece	porque hace.</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		</button>
		<img src="{{STATIC_URL}}images/catamarca_logo.png">
	</div>
	</a>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
		<li><a href="#">Inicio</a></li>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión
			<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Gobernación</a></li>
					<li><a href="#">Vicegobernación</a></li>
					<li><a href="#">Ministerios</a></li>
					<li><a href="#">Organigrama</a></li>
				</ul></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#search"><img alt="Buscar"
					src="{{STATIC_URL}}images/busqueda.png" class="busqueda"></a></li>
			<!-- 
			<li><a href="https://www.facebook.com/GobiernodeCatamarca"><img
					src="{{STATIC_URL}}images/facebook_catamarca.png"></a></li>
			<li><a href="https://www.twitter.com/CatamarcaGob"><img
					src="{{STATIC_URL}}images/twitter_catamarca.png"></a></li>
			<li><a href="https://www.youtube.com/user/GobiernodeCatamarca"><img
					src="{{STATIC_URL}}images/youtube_catamarca.png"></a></li>
 -->
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>
